* {
    box-sizing: border-box;
}

.card-title {
  color: black;
  text-align: center;
}

li .active {
  border-style: solid;
  border-color: cadetblue
}

.col-md-4 {
  margin-bottom: 20px
}

.cardcontainer {
  padding: 10px
}

footer {
  background-color: black;
  color: white;
}

body {
  background-color: black;
  color: white;
}

.card, .card-img {
  border-radius: 20px
}

.main-translucent {
  background-color: rgba(0,0,0,0.6)
}

.main-translucent-light {
  background-color: rgba(255,255,255,0.2)
}
.form-group label.control-label, .form-group label {
  color: white
}

sidebar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 !important;
    background: #303030;
    height: calc(100vh - 56px);
    width: inherit;
    overflow-y: auto;
    border-right: 2px solid #555; }
    sidebar::-webkit-scrollbar{
      width: 10px;
      background-color: #222; }
    sidebar::-webkit-scrollbar-thumb{
      background-color: black;
      -webkit-border-radius: 1ex; }
    sidebar .logo {
      width: 100%;
      padding: 15px; }
    sidebar section > * {
      padding: 0 15px; }
    sidebar .menu-item {
      padding-left: 0px; }
      sidebar .menu-item a {
        transition: border-left, 0.2s;
        padding-left: 15px;
        color: #c8c8c8; }
        sidebar .menu-item a:hover {
          color: white; }
      sidebar .menu-item a.active, sidebar .menu-item a:hover {
        border-left: 3px solid #00bc8c;     
}

footer {
    position: fixed;
    background-color: #555;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 8px; }
    footer .bar {
      overflow: hidden;
      padding: 9px; }
    footer .progress {
      cursor: pointer; }
    footer .progress-bar {
      transition: none !important; 
}

  

