li .active {
    border-style: solid;
    /* border-color: cadetblue */
    border-color: white;
}

.card {
    background-color: rgb(172, 169, 169)
}

/* .btn-secondary {
    margin-top:50px;
} */

.form-control {
    color: white;
}

.test-padding {
    padding: 100px;
}

.fa {
    color:white;
}

.btn-add {
    margin-top: 50px;
}
.btn-edit {
    margin-top: 50px;
}

.btn-black {
    background-color:black;
}

.card-title {
    text-align: center;
}

.col-md-4 {
    margin-bottom: 20px
}

.cardcontainer {
    padding: 10px
}

footer {
    background-color: black;
    color: white;
}

body {
    background-color: black;
    color: white;
}

.card {
    border-radius: 20px
}

.main-translucent {
    background-color: rgba(0,0,0,0.6)
}

.main-translucent-light {
    background-color: rgba(255,255,255,0.2)
}
.form-group label.control-label, .form-group label {
    color: white
}

.navbar {
    background-color: black;
}